{% extends 'base.html'%}
    {%block title%}
    Index News
    {%endblock title%}
    {%block content%}
        <ul style="list-style-type: none;">
            <li><a href="{% url 'news:home'%}">Homepage</a></li>
            <li><a href="{% url 'news:lista_articoli' 1%}">Lista Articoli</a></li> <!--1 è un numero a caso, future implementazioni di funzionalità necessarie-->
            <li><a href="{% url 'news:query_base'%}">Query</a></li>
            <li><a href="/">Root</a></li>
        </ul>
    {%endblock content%}