{% extends 'base.html'%}
{%block title%}
Liste di articoli
{%endblock title%}
{%block content%}
    {% if valore_default == 0 %}
        <h4>Tutti gli articoli:</h4>
    {% else %}
        <h4>Articoli di un giornalista:</h4>
    {% endif %}
    {% for articolo in articoli %}
        <p><strong>Titolo: </strong>
        {% comment %} metodo non ottimale per creare link {% endcomment %}
        <a href="/news/articoli/{{ articolo.id }}">{{ articolo.titolo }}</a>
        </p>
        <p><strong>Contenuto: </strong>
        {{ articolo.contenuto }}
        </p>
        <p><strong>Autore: </strong>
        {% comment %} metodo corretto per creare link {% endcomment %}
        <a href={% url 'news:giornalista_detail' articolo.giornalista.id %}>{{ articolo.giornalista }}</a>
        </p>
        <hr>
    {% endfor %}
{%endblock content%}