{% extends 'base.html' %}
{%block title%}
Esempio di query
{%endblock title%}
{%block content%}
    {% load giornalista_tags %}
    {% for consegna in risultati_ciclo.values %}
        <p><strong>{{consegna.0}}:</strong></p>
        <ul>
            {% for dizionario in consegna.1.values %}
                {% for key, content in dizionario.items %}
                        {% if key == "giornalista_id" %}
                            <li><p><strong>giornalista:</strong> {{ content|get_nome_giornalista }}</p></li>
                        {% else %}
                            <li><p><strong>{{ key }}</strong> {{ content }}</p></li>
                        {% endif %}
                        {% if key == "visualizzazioni" or key == "anno_di_nascita" %}
                            <br>
                        {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    {% endfor %}
{%endblock content%}